In [1]:
import pandas as pd
import numpy as np

In [2]:
# 데이터 읽어 오기 
user_cols = ['userid', 'itemid', 'timestamp']
users = pd.read_csv('../data/train/train_ratings.csv', sep=',')

directors = pd.read_csv('../data/train/directors.tsv', sep='\t', encoding='latin-1')
directors = directors.groupby('item', as_index = False, sort = True)['director'].apply(lambda x: "{%s}" % '|'.join(x))

genres = pd.read_csv('../data/train/genres.tsv', sep='\t',encoding='latin-1')
genres = genres.groupby('item', as_index = False, sort = True)['genre'].apply(lambda x: "{%s}" % '|'.join(x))

titles = pd.read_csv('../data/train/titles.tsv', sep='\t',encoding='latin-1')
titles = titles.sort_values(by=['item'])

writers = pd.read_csv('../data/train/writers.tsv', sep='\t', encoding='latin-1')
writers = writers.groupby('item', as_index = False, sort = True)['writer'].apply(lambda x: "{%s}" % '|'.join(x))

years = pd.read_csv('../data/train/years.tsv', sep='\t',encoding='latin-1')
years = years.sort_values(by=['item'])

In [9]:
titles

        item                                title
30         1                     Toy Story (1995)
3423       2                       Jumanji (1995)
4646       3              Grumpier Old Men (1995)
6747       4             Waiting to Exhale (1995)
5454       5   Father of the Bride Part II (1995)
...      ...                                  ...
6516  118700                         Selma (2014)
6511  118900                          Wild (2014)
3368  118997                Into the Woods (2014)
6504  119141                 The Interview (2014)
6043  119145  Kingsman: The Secret Service (2015)

[6807 rows x 2 columns]

In [10]:
# movie 다 합쳐 보자
movies = pd.merge(titles, directors, left_on = 'item', right_on ='item', how = 'left')
movies = pd.merge(movies, writers, left_on = 'item', right_on = 'item', how = 'left')
movies = pd.merge(movies, years, left_on = 'item', right_on = 'item', how = 'left')
movies = pd.merge(movies, genres, left_on = 'item', right_on = 'item', how = 'left')

In [11]:
movies

,item,title,director,writer,year,genre
0,1,Toy Story (1995),{nm0005124},{nm0004056|nm0005124|nm0169505|nm0230032|nm071...,1995.0,{Adventure|Animation|Children|Comedy|Fantasy}
1,2,Jumanji (1995),{nm0002653},{nm0378144|nm0852430|nm0885575},1995.0,{Adventure|Children|Fantasy}
2,3,Grumpier Old Men (1995),{nm0222043},{nm0425756},1995.0,{Comedy|Romance}
3,4,Waiting to Exhale (1995),{nm0001845},{nm0060103},1995.0,{Comedy|Drama|Romance}
4,5,Father of the Bride Part II (1995),{nm0796124},{nm0329304|nm0352443|nm0583600|nm0796124},1995.0,{Comedy}
...,...,...,...,...,...,...
6802,118700,Selma (2014),NaN,NaN,2014.0,{Drama}
6803,118900,Wild (2014),{nm0885249},{nm0394984},2014.0,{Drama}
6804,118997,Into the Woods (2014),{nm0551128},{nm0487567},2014.0,{Children|Comedy|Fantasy|Musical}
6805,119141,The Interview (2014),{nm0736622|nm1698571},{nm0736622|nm1698571},2014.0,{Action|Comedy}
6806,119145,Kingsman: The Secret Service (2015),{nm0891216},{nm0891216|nm0963359|nm1733301|nm2092839},NaN,{Action|Adventure|Comedy|Crime}

In [12]:
movies.to_csv('../data/train/merge.csv')