In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
BASE_PATH = '/opt/ml/input/code/_main/seunghwan/result'
sequential = pd.read_csv(os.path.join(BASE_PATH, 'burt4Rec_1000history_submission_0.0977.csv'))
static = pd.read_csv(os.path.join(BASE_PATH, 'RecVAE_1.csv'))
cosine = pd.read_csv(os.path.join(BASE_PATH, 'cosine_sim_submission.csv'))

In [3]:
static = pd.read_csv('./voting_data/best.csv')
sequential = pd.read_csv('./voting_data/NMF_result.csv')

In [4]:
sequential

          user   item    result
0           11   1485  0.999223
1           11   8528  0.999162
2           11   2694  0.998915
3           11   4963  0.998910
4           11   3948  0.998832
...        ...    ...       ...
313595  138493   3948  0.993244
313596  138493   1485  0.992416
313597  138493  54286  0.991279
313598  138493    104  0.990595
313599  138493   1270  0.990458

[313600 rows x 3 columns]

In [5]:
static

          user   item      w_sum
0           11   4370  29.078334
1           11   8961  26.133818
2           11  32587  25.593788
3           11   4886  25.466349
4           11   7438  24.864538
...        ...    ...        ...
313595  138493  48394  24.152547
313596  138493  58559  24.143942
313597  138493   4308  23.997710
313598  138493     47  23.987562
313599  138493  32587  23.855852

[313600 rows x 3 columns]

In [6]:
topk = 9

In [7]:
result = []
backup = 0
backup_index = 0
search_list = []
for i in range(len(sequential)):
    
    user = sequential['user'][i]
    if i % 10 == 0 :
        search_list.clear()
        split_static = static['item'][i:i+10].to_list()
        split_sequential = sequential['item'][i:i+10].to_list()
        
        split_sequential = [a for a in split_sequential if a not in split_static[:topk]]
        endpoint = topk
        
        if len(split_sequential) < (10 - topk) :
            endpoint = 10 - len(split_sequential)
            
        for k in range(endpoint) :
            result.append((user, split_static[k]))
        for j in range(10-endpoint) :
            result.append((user, split_sequential[j]))

In [9]:
pd.DataFrame(result, columns=["user", "item"]).to_csv(
    os.path.join('./Best + NMF.csv'), index=False
)