In [1]:
import pandas as pd

In [15]:
rating = pd.read_csv("/opt/ml/input/data/train/train_ratings.csv")
title = pd.read_csv("/opt/ml/input/data/train/titles.tsv", sep='\t')
result = pd.read_csv("./Bert4rec+RecVAE1.csv")

In [10]:
title_dic = dict()
for item, title in zip(title['item'], title['title']) :
    title_dic[item] = title

In [21]:
rating['item'] = rating.item.map(title_dic)

In [22]:
rating

           user                                       item        time
0            11                  Planet of the Apes (2001)  1230782529
1            11                             Hackers (1995)  1230782534
2            11                  Secret Garden, The (1993)  1230782539
3            11                     Aristocats, The (1970)  1230782542
4            11                   Dark Crystal, The (1982)  1230782563
...         ...                                        ...         ...
5154466  138493             Ice Age 2: The Meltdown (2006)  1260209449
5154467  138493                  Behind Enemy Lines (2001)  1260209482
5154468  138493            X-Men Origins: Wolverine (2009)  1260209720
5154469  138493                       Walk the Line (2005)  1260209726
5154470  138493  Batman Beyond: Return of the Joker (2000)  1260209807

[5154471 rows x 3 columns]

In [16]:
result['item'] = result.item.map(title_dic)

In [17]:
result

          user                                               item
0           11                A.I. Artificial Intelligence (2001)
1           11                                   Aeon Flux (2005)
2           11                              Monsters, Inc. (2001)
3           11                                     Hellboy (2004)
4           11                                     Jumanji (1995)
...        ...                                                ...
313595  138493                  Back to the Future Part II (1989)
313596  138493                   Silence of the Lambs, The (1991)
313597  138493  Sweeney Todd: The Demon Barber of Fleet Street...
313598  138493                         Alice in Wonderland (2010)
313599  138493        Curious Case of Benjamin Button, The (2008)

[313600 rows x 2 columns]

In [27]:
def view_title(id) :
    id = list(result.user.unique())[id]
    for t in rating[rating['user'] == id]['item']:
        print(t)
    print("===============================")
    for t in result[result['user'] == id]['item']:
        print(t)

In [52]:
view_title(23)

Enemy of the State (1998)
Much Ado About Nothing (1993)
So I Married an Axe Murderer (1993)
Star Trek IV: The Voyage Home (1986)
Boogie Nights (1997)
Johnny Mnemonic (1995)
Tomorrow Never Dies (1997)
Wild Wild West (1999)
Space Jam (1996)
Blazing Saddles (1974)
127 Hours (2010)
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)
2001: A Space Odyssey (1968)
Matchstick Men (2003)
Saving Private Ryan (1998)
Ocean's Eleven (2001)
Ocean's Thirteen (2007)
Ocean's Twelve (2004)
Fight Club (1999)
Leaves of Grass (2009)
Blow (2001)
Public Enemies (2009)
Pirates of the Caribbean: At World's End (2007)
Pirates of the Caribbean: Dead Man's Chest (2006)
Pirates of the Caribbean: The Curse of the Black Pearl (2003)
Get Him to the Greek (2010)
Forgetting Sarah Marshall (2008)
40-Year-Old Virgin, The (2005)
Zack and Miri Make a Porno (2008)
Clockwork Orange, A (1971)
Pulp Fiction (1994)
This Film Is Not Yet Rated (2006)
Monty Python's Life of Brian (1979)
Catch-22 (1970)
People vs. Larry Flynt, The (1996)
Indiana Jones and the Last Crusade (1989)
Star Wars: Episode II - Attack of the Clones (2002)
Star Wars: Episode IV - A New Hope (1977)
Star Wars: Episode III - Revenge of the Sith (2005)
Star Wars: Episode V - The Empire Strikes Back (1980)
Star Wars: Episode VI - Return of the Jedi (1983)
House Bunny, The (2008)
Serenity (2005)
Billy Madison (1995)
Pineapple Express (2008)
Donnie Brasco (1997)
Godfather, The (1972)
Godfather: Part II, The (1974)
Godfather: Part III, The (1990)
Miracle (2004)
Slap Shot (1977)
Mystery, Alaska (1999)
Happy Gilmore (1996)
D2: The Mighty Ducks (1994)
Mighty Ducks, The (1992)
Breakfast Club, The (1985)
Dark Knight, The (2008)
Batman Begins (2005)
Casino Royale (2006)
Knocked Up (2007)
Superbad (2007)
American Pie (1999)
American Pie 2 (2001)
National Lampoon's Van Wilder (2002)
Old School (2003)
Step Brothers (2008)
Anchorman: The Legend of Ron Burgundy (2004)
Talladega Nights: The Ballad of Ricky Bobby (2006)
Trainspotting (1996)
Lord of War (2005)
It's Kind of a Funny Story (2010)
Hangover, The (2009)
Boat That Rocked, The (a.k.a. Pirate Radio) (2009)
===============================
Monty Python and the Holy Grail (1975)
Office Space (1999)
Role Models (2008)
Clerks (1994)
Wedding Crashers (2005)
Matrix, The (1999)
American History X (1998)
I Love You, Man (2009)
Other Guys, The (2010)
Funny People (2009)